<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
    </a>
    <h2 class="mx-auto top-heading">Hello {{dataService.firstName}} !</h2>
</nav>
<div class="container mt-3">
    <div class="row justify-content-center w-100">
        <div class="col-md-12 ftco-animate fadeInUp ftco-animated">
            <form [formGroup]="imageSearchForm" (ngSubmit)=onSubmit(imageSearchForm) class="domain-form">
                <div class="form-group d-md-flex">
                    <mat-form-field class="col-md-12 w-70">
                        <input matInput formControlName="searchQuery" placeholder="Enter the keyword of images to search..." type="text" autocomplete="off">
                    </mat-form-field>
                    <input type="submit" class="search-domain btn btn-primary px-5 w-30" value="Search Images">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container mt-5 mb-5 flex-column" *ngIf="response.results">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex flex-row justify-content-between align-items-center filters">
                <h6>Showing 10 of {{response.total}} results</h6>
                <div class="right-sort">
                    <div class="sort-by"><span class="mr-1">Sort by:</span><a href="#">Most popular</a><i class="fa fa-angle-down ml-1"></i><button class="btn btn-outline-dark btn-sm ml-3 filter" type="button">Filters&nbsp;<i class="fa fa-flask"></i></button></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-4" *ngFor="let row of response.results">
            <div class="card w-100">
                <img [src]="row.urls.raw" class="w-100">
                <div class="card-body">
                    <h5 class="card-title">{{row.description}}</h5>
                    <p class="card-text">{{row.alt_description}}</p>
                </div>
                <div class="card-footer text-muted">
                    {{row.updated_at}}
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end text-right mt-2">
        <nav>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
            </ul>
        </nav>
    </div>
</div>